
body {
    width: 80%;
    margin: 0 auto;
    padding: 3em 0;
}

.github-ribbon {
    position: fixed;
    top: 0;
    right: 0;
}

@media only screen and (max-width: 670px) {
    /* body {
        width: 90%;
    }
    table {
        font-size: 14px;
    } */
}
/*OK hasta 560px*/
@media only screen and (max-width: 524px) {
    /* body {
        width: 95%;
    }
    h1 {
        font-size: 2rem;
    }
    table th {
        font-size: 12px;
    } */
}
/*OK hasta 470*/
@media only screen and (max-width: 470px) {
    /* body {
    }

    table th {
        font-size: 12px;
    } */
}
@media only screen and (max-width: 375px) {
    h1 {
        font-size: 1.5rem;
    }
    table {
        
    }
}
@media only screen and (max-width: 320px) {}
